/*FONTS*/

@font-face {
  font-family: SourceCodePro;
  src: url(SourceCodePro-Medium.ttf);
}

@font-face {
  font-family: SourceCodePro2;
  src: url(SourceCodePro-BlackItalic.ttf);
}

/***********/

h1{
  font-family: SourceCodePro-Medium;
  background: tan;
}
body{
    display: flex;
    justify-content: center;
    background: repeating-linear-gradient(
  45deg,
  #fff2e6,
  #fff2e6 10px,
  #ffe6cc 10px,
  #ffe6cc 20px
);
}

#container{
  position: relative;
  top: 100px;
  width: 500px;
}

#content-box{
  background:tan;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 5px 10px #CCC;
}

#hero-image{
  display: flex;
  justify-content: center;
}

#hero-image img{
  width: 250px;
  height: 250px;
}

ul{
  position: relative;
  margin: 40px;
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
}

li{
  margin: 10px;
}

a{
  font-family: SourceCodePro-Black;
  text-decoration: none;
  padding: 5px;
  color: #FFF;
}

a:hover{
  background: #CCC;
  color:#000;
}
